body {
  background-color: #3d3d3d;
  color: #c2c2c2;
}

.error {
  color: #ee7777;
  margin-left: 8px;
}

.App {
  margin: 40px auto;
  width: 600px;
}

.BorderRadius-controls {
  margin-bottom: 16px;
}

.BorderRadius-controls label {
  display: block;
}

.BorderRadius-controls input {
  padding: 4px;
  border: 1px solid #282c34;
  border-radius: 3px;
  width: 45px;
}

.BorderRadius-preview {
  background-color: #47ff00;
  width: 160px;
  height: 160px;
  margin-right: 8px;
  margin-bottom: 8px;
  float: left;
}